:root{
   --grey: #555555;
   --black: #000;
   --white: #eee;
   --maya-blue: #77c9ff;
   --indigo: #332088;
   --red: #c19a9a;
   --green: #acd089;
}

@font-face {
    font-family: "Custom";
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: var(--grey);
  color: #333;
  display: flex;
  justify-content: space-evenly;
}

.main-container, .navbar, .new-project, .project-button{
    font-family: "Custom",sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.main-container, .navbar{
    border-radius: 10px;
}

.main-container{
    background-color: var(--white);
    min-height: 96vh;
    min-width: 80vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-project-name{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}



.navbar{
    background-color: var(--black);
    color: var(--white);
    padding: 15px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-task{
    margin: 10px;
}

.new-project{
    height: 4rem;
}

.project-button{
    height: 3rem;
}

.new-project, .project-button{
    border: 5px solid var(--grey);
    border-radius: 15px;
    
}

.new-project:hover, .project-button:hover, .add-task:hover{
    background-color: var(--maya-blue);
    border-color: var(--indigo);
}

.task-container{
    margin: 10px 0;
    padding: 5px;
    display:flex;
    justify-content: space-between;
    width: 70vw;
    border: 3px solid var(--black);
    align-items: center;
}

.temp-container{
    margin-top: 10px;
    height: 10vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

.task-date{
    height: 15px;
    font-size: 15px;
}

.input{
    height: 20px;
    font-size: 15px;
    border-radius: 5px;
}

.input:focus{
    outline: none;
}

.confirm-button, .cancel-button, .add-task, .remove-task{
    width: 5vw;
    font-size: 15px;
    font-weight: 700;
    background-color:var(--white);
    color: var(--grey);
    border: 3px solid var(--grey);
    border-radius: 15px;
}

.confirm-button:hover{
    background-color: var(--green);
}

.cancel-button:hover, .remove-task:hover{
    background-color: var(--red);
}
